/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300 !important;
  text-transform: uppercase;
}

/* ----------------------------------------------- */
/* MAIN */
/* ----------------------------------------------- */

article.main {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}